h1 {
  color: #9A3412;
  text-align: center;
  font-size: 2rem;
}

#tagline {
  color: #F97316;
  font-style: italic;
  text-align: center;
}

.profile-card {
  border: 2px solid #00095a;
  background-color: #dafeff;
  padding: 16px;
  margin: 20px auto;
  max-width: 300px;
  border-radius: 80px;
  text-align: center;
  filter: drop-shadow(12px 15px 20px #8972f0)
}

.profile-img {
  max-width: 100%;
  border-radius: 80px;
  margin-bottom: 16px;
}

ul {
  padding-left: 20px;
  text-align: left;
}

li {
  margin-bottom: 8px;
}
